<template name="post">

	<span class="timeline-seperator text-center"> <span>10:30PM January 1st, 2013</span>
		<div class="btn-group pull-right">
			<a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret single"></span></a>
			<ul class="dropdown-menu text-left">
				<li>
					<a href="javascript:void(0);">Hide this post</a>
				</li>
				<li>
					<a href="javascript:void(0);">Hide future posts from this user</a>
				</li>
				<li>
					<a href="javascript:void(0);">Mark as spam</a>
				</li>
			</ul>
		</div>
  </span>

  <div class="chat-body no-padding profile-message">
		<ul>
			<li class="message">
				<img class="online" src="client/images/silhouette.jpeg">
				<span class="message-text"> <a class="username" href="javascript:void(0);">{{postedBy}} <small class="text-muted pull-right ultra-light"> {{posted}} </small></a> {{post}} </span>
				<ul class="list-inline font-xs message-bar">
					<li>
						<a class="text-success {{upvotedClass}}" href="javascript:void(0);"><i class="fa fa-thumbs-up"></i> Like ({{likes}})</a>
					</li>
          <li>
						<a class="text-danger {{downvotedClass}}" href="javascript:void(0);"><i class="fa fa-thumbs-down"></i> Dislike ({{dislikes}})</a>
					</li>
					<li>
						<a class="text-muted" href="javascript:void(0);">Show All Comments ({{comments}})</a>
					</li>
					<li>
						<a class="text-primary" href="javascript:void(0);">Edit</a>
					</li>
					<li>
						<a class="text-danger" href="javascript:void(0);">Delete</a>
					</li>
				</ul>
			</li>

			<li class="message message-reply">
				<img class="online" src="img/avatars/3.png">
				<span class="message-text"> <a class="username" href="javascript:void(0);">Serman Syla</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>
				<ul class="list-inline font-xs">
					<li>
						<a class="text-muted" href="javascript:void(0);">1 minute ago </a>
					</li>
					<li>
						<a class="text-success" href="javascript:void(0);"><i class="fa fa-thumbs-up"></i> Like</a>
					</li>
				</ul>
			</li>

			<li class="message message-reply">
				<img class="online" src="img/avatars/4.png">
				<span class="message-text"> <a class="username" href="javascript:void(0);">Sadi Orlaf </a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>
				<ul class="list-inline font-xs">
					<li>
						<a class="text-muted" href="javascript:void(0);">a moment ago </a>
					</li>
					<li>
						<a class="text-success" href="javascript:void(0);"><i class="fa fa-thumbs-up"></i> Like</a>
					</li>
				</ul>
				<input type="text" placeholder="Type and enter" class="form-control input-xs">
			</li>
		</ul>
	</div>

</template>
