<template name="post">

	<span class="timeline-seperator text-center"> <span>{{posted}}</span>
		<div class="btn-group pull-right">
			<a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret single"></span></a>
			<ul class="dropdown-menu text-left">
				<li>
					<a class="text-primary editPost" href="#">Edit</a>
				</li>
				<li>
					<a class="text-danger deletePost" href="#">Delete</a>
				</li>
				<li>
					<a href="#">Hide this post</a>
				</li>
				<li>
					<a href="#">Hide future posts from this user</a>
				</li>
				<li>
					<a href="#">Mark as spam</a>
				</li>
			</ul>
		</div>
  </span>

  <div class="chat-body no-padding profile-message">
		<ul>
			<li class="message">
				<img class="online" src="/public/images/silhouette.jpeg">
				<span class="message-text col-md-11">
					<a class="username" href="#">{{postedBy}}</a>
					<p name="{{_id}}">{{post}}</p>
					<textarea id="{{_id}}" class="postBody form-control" name="postBody" style="display:none;">{{post}}</textarea>
				</span>
				<ul class="list-inline font-xs message-bar">
					<li>
						<a class="text-success {{upvotedClass}} voteUpPost" href="#"><i class="fa fa-thumbs-up"></i> Like ({{likes}})</a>
					</li>
          <li>
						<a class="text-danger {{downvotedClass}} voteDownPost" href="#"><i class="fa fa-thumbs-down"></i> Dislike ({{dislikes}})</a>
					</li>
					<li>
						<a class="text-muted" href="{{pathFor 'postPage' _id=this._id}}">Show All Comments ({{commentsCount}})</a>
					</li>
				</ul>
			</li>

			{{#each comments}}
				{{>comment}}
			{{/each}}
			<li class="message message-reply">
				<form class="padding-bottom-10" method="post" name="comment">
					<input type="text" placeholder="Type and enter" class="form-control input-xs" name="comment">
				</form>
			</li>
		</ul>
	</div>

</template>
